@model EblueWorkPlan.Models.FiscalYear

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FiscalYear</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYearName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYearName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYearNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYearNumber)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYearStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYearStatus.FiscalYearStatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FiscalYearId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
