@model IEnumerable<EblueWorkPlan.Models.FiscalYear>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<partial name="_Sidebar2" />


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYearName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYearNumber)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FiscalYearStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYearName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYearNumber)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYearStatus.FiscalYearStatusId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FiscalYearId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FiscalYearId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FiscalYearId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
