@model IEnumerable<EblueWorkPlan.Models.ProjectNote>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roster)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roster.RosterId)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectNotesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectNotesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectNotesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

