@model EblueWorkPlan.Models.Project

@{
    ViewData["Title"] = "Details";
}
<partial name="_Sidebar2" />

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectPi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubStationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubStationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRegister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRegister)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objectives)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objectives)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjWorkPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjWorkPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresentOutlook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresentOutlook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wp1fieldWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wp1fieldWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wp2id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wp2id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workplan2Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workplan2Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salaries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salaries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Travel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Travel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abroad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abroad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Others)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Others)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wfsid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wfsid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wfupdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wfupdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPlan2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPlan2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benefits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benefits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assistant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assistant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subcontracts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcontracts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndirectCosts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirectCosts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orcid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orcid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessProjectWayId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessProjectWayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorganizationsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorganizationsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comm.CommId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYear.FiscalYearId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramArea.ProgramAreaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
