@model IEnumerable<EblueWorkPlan.Models.Project>

@{
    ViewData["Title"] = "Index";
}
<partial name="_Sidebar2" />

<h1>Project Area </h1>

@if (TempData["AlertCreate"]!= null)
{
    <div class="alert alert-success">
        @TempData["AlertCreate"]
       
    </div>

}

<p>
    <a class="btn btn-success" asp-action="Create" style="text-decoration:none;">Create New</a>
</p>

@{
   
    

}



<table id="projectTable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNumber)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>

            <th>
                Account Number
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Roster.RosterName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProjectStatus.StatusName)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        
        @foreach (var item in Model)
        {
            

            <tr>
                <td>
                    <a asp-action="ProjectList" asp-route-id="@item.ProjectId">
                        @Html.DisplayFor(modelItem => item.ProjectNumber)
                    </a>

                </td>


                <td>
                    @item.ProjectTitle
                </td>

                <td>
                    @item.ContractNumber
                </td>

                <td>
                    @item.Orcid
                </td>

                <td>
                   @Html.DisplayFor(modelItem => item.Roster.RosterName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProjectStatus.StatusName)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="ProjectList" asp-route-id="@item.ProjectId">Access</a> |
                   

                    @if (User.IsInRole("Research Director or Representative") || User.IsInRole("Administrator") && item.ProjectStatusId >= 9)
                    {
                        <a class="btn btn-success" asp-action="ProjectDetails" asp-route-id="@item.ProjectId">Approve-Reject</a> 
                    }

                </td>
            </tr>
            
        }
    </tbody>
</table>


 @section scripts{
 
    <script>
        window.setTimeout(function(){
            $(".alert").fadeTo(500,0).slideUp(500,function(){
                $(this).remove();
            });
        
        
        },3000);

        $(document).ready(function (){
            $('#projectTable').DataTable();


        })
    </script>
 
 
 
 
 
 } 