@model IEnumerable<EblueWorkPlan.Models.Project>


@{
    ViewData["Title"] = "IndexVM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IndexVM</h1>


<h1>Project Area </h1>

<p>
    <a class="btn btn-success" asp-action="Create" style="text-decoration:none;">Create New</a>
</p>

@{



}



<table class="table table-bordered">
    <thead>
        <tr>
            <th>

            </th>

            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Orcid)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Roster.RosterName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProjectStatusId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.ProjectStatusId == 1 || item.ProjectStatusId == 9 )
            
            {
                <tr>
                    <td>
                        <a asp-action="Page0" asp-route-id="@item.ProjectId">
                            @Html.DisplayFor(modelItem => item.ProjectNumber)
                        </a>

                    </td>


                    <td>
                        @item.ContractNumber
                    </td>

                    <td>
                        @item.Orcid
                    </td>

                    <td>
                        @item.RosterId
                    </td>

                    <td>
                        @item.ProjectStatusId
                    </td>
                    <td>
                        <a asp-action="ProjectDetails" asp-route-id="@item.ProjectId">Access</a> |
                        <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |


                    </td>
                </tr>
            
            }
            
        }
    </tbody>
</table>