@model EblueWorkPlan.Models.ViewModels.ProjectFormView
@{
    ViewData["Title"] = "Page4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Sidebar2" />

<h1>Research Project for: @Model.ProjectNumber</h1>

<h3>Laboratory Page</h3>
<br />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" asp-action="ProjectList" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="Page2" asp-controller="Projects"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false" asp-action="Page3" asp-controller="Projects"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link active" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false" asp-action="Page4" asp-controller="Projects"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false" asp-action="Page5" asp-controller="Projects"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false" asp-action="Page6" asp-controller="Projects"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false" asp-action="Page7" asp-controller="Projects"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false" asp-action="Page8" asp-controller="Projects"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-0" style="color: #2267dd;"></i> </button>
        <button class="nav-link " id="nav-adminnotes-tab" data-bs-toggle="tab" data-bs-target="#nav-adminnotes" type="button" role="tab" aria-controls="nav-adminnotes" aria-selected="false" asp-action="Page11" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-1" style="color: #2267dd;"></i> </button>


    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-analytical" role="tabpanel" aria-labelledby="nav-analytical-tab" tabindex="0">
        <div class="row g-3">

            <form asp-action="Page4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="card">

                    <div class="card-header">Laboratory </div>


                    <div class="card-body">

                        <div class="row">
                            <input id="projectId" type="hidden" asp-for="ProjectId" />
                            <input id="labId" type="hidden" asp-for="LabId" />
                            <div class="col-12">
                                <label asp-for="WorkPlanned" class="control-label"></label>
                                <textarea id="workplanned" asp-for="WorkPlanned" rows="3" class="form-control txt-w"></textarea>
                                <span asp-validation-for="WorkPlanned" class="text-danger"></span>
                            </div>


                            <div class="row">
                                <div class="form-group col-4">
                                    <label asp-for="Descriptions" class="control-label"></label>
                                    <input id="descriptions" asp-for="Descriptions" class="form-control txt-d" />
                                    <span asp-validation-for="Descriptions" class="text-danger"></span>
                                </div>
                                <div class="form-group col-4">
                                    <label asp-for="TimeEstimated" class="control-label"></label>
                                    <input id="timeEstimated" class="form-control txt-est" />
                                    <span asp-validation-for="TimeEstimated" class="text-danger"></span>
                                </div>



                                <div class="form-group col-4">
                                    <label asp-for="FacilitiesNeeded" class="control-label"></label>
                                    <input id="facilitiesNeeded" asp-for="FacilitiesNeeded" class="form-control txt-fn" />
                                    <span asp-validation-for="FacilitiesNeeded" class="text-danger"></span>
                                </div>


                                <div class="col-12">
                                    <label asp-for="CentralLaboratory" class="control-label"></label>
                                    <textarea id="central" asp-for="CentralLaboratory" rows="3" class="form-control txt-w"></textarea>
                                    <span asp-validation-for="CentralLaboratory" class="text-danger"></span>
                                </div>

                            </div>

                            <br />
                            <div class="form-group" style="padding-top:20px;">
                                <input type="button" value="Add" class="btn btn-primary" id="btnSubmit" />
                                <input id="btnSave" type="button" value="Save" class="btn btn-success btn-save" style="display:none;" />
                            </div>


                        </div>

                    </div>


                    <div class="card-footer">

                        <div class="btn btn-primary col align-content-center"><a asp-action="Page3" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Back</a></div>




                        <div class="btn btn-primary col align-content-end"><a asp-action="Page5" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Next</a></div>

                    </div>
                </div>
            </form>
            <br />




            <table class="table table-bordered " id="labTable">
                <thead>
                    <h1 class="LabId" style="display:none" class="field-id">@Model.LabId </h1>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.WorkPlanned)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descriptions)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeEstimated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FacilitiesNeeded)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CentralLaboratory)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.laboratories)
                    {
                        <tr>



                            <td class="workplanned">
                                @Html.DisplayFor(modelItem => item.WorkPlanned)
                            </td>
                            <td class="dess">
                                @Html.DisplayFor(modelItem => item.Descriptions)
                            </td>
                            <td class="estimated">
                                @Html.DisplayFor(modelItem => item.TimeEstimated)
                            </td>
                            <td class="facili">
                                @Html.DisplayFor(modelItem => item.FacilitiesNeeded)
                            </td>

                            <td class="facili">
                                @Html.DisplayFor(modelItem => item.CentralLaboratory)
                            </td>

                            <td>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-4">
                                            <button data-id="@item.LabId|@item.WorkPlanned|@item.Descriptions|@item.TimeEstimated|@item.FacilitiesNeeded|@item.ProjectId|@item.CentralLaboratory"
                                                class="btn  btn-success modify">
                                                Modify
                                            </button>
                                        </div>

                                    </div>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



</div>


@section scripts{
    <script>

        $(function () {


            $('#timeEstimated').datepicker()

            $("#btnSubmit").click(function () {

                const params = {
                    labId: $('#labId').val(),
                    projectId: $('#projectId').val(),
                    workplanned: $('#workplanned').val(),
                    descriptions: $('#descriptions').val(),
                    TimeEstimated: $('#timeEstimated').val(),
                    facilitiesNeeded: $('#facilitiesNeeded').val(),
                    CentralLaboratory: $('#central').val()
                };


                console.log(params);


                $.ajax({
                    type: "POST",
                    url: '/Projects/Page4Post',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'
                });

                $('#formClr').find('input[type=text], input[type=email], textarea').val('');



            });








            $(".modify").click(function () {
                $("#btnSubmit").hide();
                $("#btnSave").show();


                let item = $(this).attr("data-id");

                let campos = item.split("|", 7);

                const estimateDate = new Date(campos[3]).toLocaleDateString('en-US');

                $('#labId').val(campos[0]);
                $('#workplanned').val(campos[1]);
                $('#descriptions').val(campos[2]);
                $('#timeEstimated').val(estimateDate);
                $('#facilitiesNeeded').val(campos[4]);
                $('#projectId').val(campos[5]);
                $('#central').val(campos[6]);
            });



            $('#btnSave').click(function () {
                $("#btnSave").hide();
                $("#btnSubmit").show();

                const params = {
                    labId: $('#labId').val(),
                    projectId: $('#projectId').val(),
                    workplanned: $('#workplanned').val(),
                    descriptions: $('#descriptions').val(),
                    TimeEstimated: $('#timeEstimated').val(),
                    facilitiesNeeded: $('#facilitiesNeeded').val(),
                    CentralLaboratory: $('#central').val()
                };


                console.log(params);


                $.ajax({
                    type: "POST",
                    url: '/Projects/PostPage3Data',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }
                    },
                    dataType: 'json'
                });

                $('#formClr').find('input[type=text], input[type=email], textarea').val('');

            });


             $("#nav-home-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectPL',
                        data: params,
                        success: function (response) {
                            if(response.redirect){
                            
                                window.location.href = response.url;
                            
                            }else{
                            
                            
                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


                $("#nav-profile-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP2',
                        data: params,
                        success: function (response) {
                            if(response.redirect){
                            
                                window.location.href = response.url;
                            
                            }else{
                            
                            
                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


            $("#nav-laboratory-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP3',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });


            $("#nav-analytical-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP4',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });

            $("#nav-sciproject-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP5',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });



            $("#nav-otherpersonel-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP6',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });




            $("#nav-gradass-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP7',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });





            $("#nav-fund-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP8',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });



            $("#nav-budget-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP9',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });




            $("#nav-notes-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP10',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });





            $("#nav-adminnotes-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP11',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });


        });



    </script>


}