
@using Microsoft.AspNetCore.Identity;
@model EblueWorkPlan.Models.ViewModels.ProjectFormView
@{
    ViewData["Title"] = "Page10";
}

<partial name="_Sidebar2" />


<h1>Research Project for: @Model.ProjectNumber</h1>

<h3>Comments Page</h3>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" asp-action="ProjectList" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="Page2" asp-controller="Projects"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false" asp-action="Page3" asp-controller="Projects"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link " id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false" asp-action="Page4" asp-controller="Projects"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false" asp-action="Page5" asp-controller="Projects"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false" asp-action="Page6" asp-controller="Projects"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false" asp-action="Page7" asp-controller="Projects"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false" asp-action="Page8" asp-controller="Projects"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>
        <button class="nav-link active" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-0" style="color: #2267dd;"></i> </button>
        <button class="nav-link " id="nav-adminnotes-tab" data-bs-toggle="tab" data-bs-target="#nav-adminnotes" type="button" role="tab" aria-controls="nav-adminnotes" aria-selected="false" asp-action="Page11" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-1" style="color: #2267dd;"></i> </button>



    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <div class="row g-3">
            <form asp-action="Page10">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input id="projectId" type="hidden" asp-for="ProjectId" />
                <div class="card">

                    <div class="card-header"> Project Number : @Html.DisplayFor(modelItem => modelItem.ProjectNumber) </div>


                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                                <label asp-for="Comment" class="control-label"></label>
                                <textarea asp-for="Comment" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12">
                                <label asp-for="userRole" class="control-label"></label>
                                <input asp-for="userRole"  class="form-control">
                                <span asp-validation-for="userRole" class="text-danger"></span>
                            </div>
                        </div>




                        <br>



                        <br>



                      
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>






                    </div>



                    <!--Comments area-->








                    <div class="card-footer">
                        <div class="btn btn-primary col align-content-center"><a asp-action="Page9" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Back</a></div>

                        <div class="btn btn-primary col align-content-end"><a asp-action="Page11" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Next</a></div>

                    </div>








                </div>

            </form>

            <div class="container mt-5 mb-5">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="p-3">
                                <h6>Comments</h6>
                            </div>
                            @foreach  (var item in Model.projectNotes)
                            {
                                <div class="d-flex flex-row p-3">
                                    <i class='bx bx-user-check rounded-circle mr-3' width="40" height="40"></i>
                                    <div class="w-100">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-row align-items-center">
                                                <span class="mr-2">@Html.DisplayFor(modelitem => item.Username) </span>  
                                                       
                                                        <small class="c-badge">@Html.DisplayFor(modelitem => item.UserRole)</small>
                                                    
                                            </div> <small>@Html.DisplayFor(modelitem => item.LastUpdate)</small>
                                        </div>
                                        <p class="text-justify comment-text mb-0">@Html.DisplayFor(modelitem => item.Comment)</p>
                                        
                                    </div>
                                </div>

                            }
                            
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>



@*



           @foreach  (var item in Model.projectNotes)
            {
                
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                            <div class="card-body p-4">


                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p>
                                            @Html.DisplayFor(modelitem => item.Comment);
                                        </p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                               <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                                 height="25" />
                                                <p class="small mb-0 ms-2">
                                                    @Html.DisplayFor(modelitem => item.Username)
                                                    </p>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <p class="small text-muted mb-0">@Html.DisplayFor(modelitem => item.Roles)</p>
                                                <i class="far fa-thumbs-up mx-2 fa-xs text-body" style="margin-top: -0.16rem"></i>
                                                <p class="small text-muted mb-0">3</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>



            }



            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                        <div class="card-body p-4">


                            <div class="card mb-4">
                                <div class="card-body">
                                    <p>Type your note, and hit enter to add it</p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                                                 height="25" />
                                            <p class="small mb-0 ms-2">Martha</p>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <p class="small text-muted mb-0">Upvote?</p>
                                            <i class="far fa-thumbs-up mx-2 fa-xs text-body" style="margin-top: -0.16rem;"></i>
                                            <p class="small text-muted mb-0">3</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

         
                        </div>
                    </div>
                </div>
            </div>
*@



   





   <!---DEPARTMENT DIRECTOR OPTIONS......---->




@section scripts{
    <script type="text/javascript">
            $(function () {
                $('.comment').click(function () {


                    let item = $(this).attr('data-id');
                    let campos = item.split("|", 2);
                    $('#commentId').val(campos[0]);

                });
                $('#departmentPost').click(function () {
                    const params = {

                        commentId: $('#commentId').val(),
                        DepartmentDirector: $('#departmentDirector').val()




                    };

                    $.ajax({
                        type: "POST",
                        url: '/Projects/Page10DDPost',
                        data: params,
                        success: function () {
                            alert('Entre');

                        },
                        dataType: 'json'
                    });
                
                
                
                });
                  
                


                           
                $('.dcomment').click(function () {


                    let item = $(this).attr('data-id');

                    let campos = item.split("|", 2);
                    $('#commentid').val(campos[0]);


                });

                    $("#nav-home-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectPL',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });


                    $("#nav-profile-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP2',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });


                    $("#nav-laboratory-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP3',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });


                    $("#nav-analytical-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP4',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });

                    $("#nav-sciproject-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP5',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });



                    $("#nav-otherpersonel-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP6',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });




                    $("#nav-gradass-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP7',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });





                    $("#nav-fund-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP8',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });



                    $("#nav-budget-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP9',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });




                    $("#nav-notes-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP10',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });





                    $("#nav-adminnotes-tab").click(function () {

                        const params = {
                            ProjectId: $("#projectId").val()
                        }

                        $.ajax({
                            type: "POST",
                            url: '/Projects/RedirectP11',
                            data: params,
                            success: function (response) {
                                if (response.redirect) {

                                    window.location.href = response.url;

                                } else {


                                    alert('No funciona..');
                                }

                            },
                            dataType: 'json'



                        });

                    });

                });

    
    
    
    
    
    
    
    
    
    </script>
       
            

        

            






    



}



