@model EblueWorkPlan.Models.ViewModels.ProjectFormView
@{
    ViewData["Title"] = "Page8";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Sidebar2" />

<h1>Research Project for: @Model.ProjectNumber</h1>

<h3>Funds Page</h3>
<br />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link active" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="true"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-0" style="color: #2267dd;"></i> </button>
        <button class="nav-link " id="nav-adminnotes-tab" data-bs-toggle="tab" data-bs-target="#nav-adminnotes" type="button" role="tab" aria-controls="nav-adminnotes" aria-selected="false" asp-action="Page11" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-1" style="color: #2267dd;"></i> </button>


    </div>
</nav>

<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-fund" role="tabpanel" aria-labelledby="nav-fund-tab" tabindex="0">

        <div class="row g-3">
            <form asp-action="Page8">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">

                    <div class="card-header">Funds </div>


                    <div class="card-body">

                        <div class="row">

                            <input id="projectId" type="hidden" asp-for="ProjectId" />
                            <input id="fundId" type="hidden" />

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label  asp-for="LocationId" class="control-label"></label>
                                <select id="locationId" asp-for="LocationId" class="form-control" asp-items="ViewBag.locationsItems"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="Salaries" class="control-label"></label>
                                <input id="salaries" asp-for="Salaries" class="form-control" />
                                <span asp-validation-for="Salaries" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Wages" class="control-label"></label>
                                <input id="wages" asp-for="Wages" class="form-control" />
                                <span asp-validation-for="Wages" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Benefits" class="control-label"></label>
                                <input id="benefit" asp-for="Benefits" class="form-control" />
                                <span asp-validation-for="Benefits" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Assistant" class="control-label"></label>
                                <input id="assistant" asp-for="Assistant" class="form-control" />
                                <span asp-validation-for="Assistant" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Materials" class="control-label"></label>
                                <input id="materials" asp-for="Materials" class="form-control" />
                                <span asp-validation-for="Materials" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Equipment" class="control-label"></label>
                                <input id="equipment" asp-for="Equipment" class="form-control" />
                                <span asp-validation-for="Equipment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Travel" class="control-label"></label>
                                <input id="travel" asp-for="Travel" class="form-control" />
                                <span asp-validation-for="Travel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Abroad" class="control-label"></label>
                                <input id="abroad" asp-for="Abroad" class="form-control" />
                                <span asp-validation-for="Abroad" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Subcontracts" class="control-label"></label>
                                <input id="subcontract" asp-for="Subcontracts" class="form-control" />
                                <span asp-validation-for="Subcontracts" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Others" class="control-label"></label>
                                <input id="others" asp-for="Others" class="form-control" />
                                <span asp-validation-for="Others" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group">
                                <label asp-for="IndirectCosts" class="control-label"></label>
                                <input id="indirectcosts" asp-for="IndirectCosts" class="form-control" />
                                <span asp-validation-for="IndirectCosts" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-primary" id="btnSubmit" />
                                <input id="btnSave" type="button" value="Save" class="btn btn-success btn-save" style="display:none;" />
                            </div>

                        </div>


                    </div>


                            <div class="card-footer">

                                <div class="btn btn-primary col align-content-center"><a asp-action="Page7" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Back</a></div>



                                <div class="btn btn-primary col align-content-end"><a  asp-action="Page9" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Next</a></div>

                            </div>

                </div>

            </form>



        </div>

        <br />

        

    </div>


    <table class="table  table-bordered">
        <thead>
            <tr>
                 <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Salaries)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Benefits)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assistant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Equipment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Travel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Abroad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subcontracts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Others)
                </th>
             
                <th>
                    @Html.DisplayNameFor(model => model.IndirectCosts)
                </th>
               

                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Fundss)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Salaries)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Benefits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assistant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materials)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Travel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abroad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subcontracts)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Others)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.IndirectCosts)
                    </td>
                    

                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    
                    <td>
                            <div class="row">
                            <div class="col-4">
                                <button data-id="@item.FundId|@item.Salaries|@item.Wages|@item.Benefits|@item.Assistant|@item.Materials|@item.Equipment|@item.Travel |@item.Abroad |@item.Subcontracts |@item.Others |@item.IndirectCosts |@item.LocationId | @item.ProjectId"
                                    class="btn  btn-success modify">
                                    Modify
                                </button>
                            </div>
                            </td>
                </tr>
            }
        </tbody>
    </table>


    <br />





    <table class="table  table-bordered">
        <thead>
            <tr>
               

                <th>
                    @Html.DisplayNameFor(model => model.TSalaries)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TWages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TBenefits)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TAssistant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TMaterials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TEquipment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TTravel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TAbroad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TSubcontracts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TOthers)
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.Ufisaccount)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.TIndirectCosts)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.TTotalAmount)
                </th>

                
            </tr>
        </thead>
        <tbody>
          
                <tr>

                   

                    <td>
                    @Html.DisplayFor(model => model.TSalaries)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TWages)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TBenefits)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TAssistant)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TMaterials)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TEquipment)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TTravel)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TAbroad)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TSubcontracts)
                    </td>
                    <td>
                    @Html.DisplayFor(model => model.TOthers)
                    </td>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Ufisaccount)
                </td>*@
                    <td>
                    @Html.DisplayFor(model => model.TIndirectCosts)
                    </td>


                    <td>
                        @Html.DisplayFor(model => model.TTotalAmount)
                    </td>

                    
                </tr>
            
        </tbody>
    </table>



</div>




@section scripts{
    <script type="text/javascript">








        $(function () {

            


            $(".modify").click(function () {

                $("#btnSubmit").hide();
                $("#btnSave").show();


                let item = $(this).attr("data-id");

                let campos = item.split("|", 14);



                $('#fundId').val(campos[0]);
                $('#salaries').val(campos[1]);
                $('#wages').val(campos[2]);
                $('#benefit').val(campos[3]);
                $('#assistant').val(campos[4]);
                $('#materials').val(campos[5]);
                $('#equipment').val(campos[6]);
                $('#travel').val(campos[7]);
                $('#abroad').val(campos[8]);
                $('#subcontract').val(campos[9]);
                $('#others').val(campos[10]);
                $('#indirectcosts').val(campos[11]);
                $('#projectId').val(campos[13]);
                $('#locationId').val(campos[12]);

            });



            $('#btnSave').click(function () {
                $("#btnSave").hide();
                $("#btnSubmit").show();

                const params = {


                    fundId: $('#fundId').val(),
                    salaries:  $('#salaries').val(),
                    wages:     $('#wages').val(),
                    benefit:   $('#benefit').val(),
                    assistant:  $('#assistant').val(),
                    materials:  $('#materials').val(),
                    equipment:  $('#equipment').val(),
                    travel:     $('#travel').val(),
                    abroad:     $('#abroad').val(),
                    subcontract: $('#subcontract').val(),
                    others:        $('#others').val(),
                    
                    indirectcosts: $('#indirectcosts').val(),
                    projectId:     $('#projectId').val(),
                    LocationId:    $('#locationId').val(),
                };


                console.log(params);


                $.ajax({
                    type: "POST",
                    url: '/Projects/PostPage8Data',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }
                    },
                    dataType: 'json'
                });

                $('#formClr').find('input[type=text], input[type=email], textarea').val('');

            });

             $("#nav-home-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectPL',
                        data: params,
                        success: function (response) {
                            if(response.redirect){
                            
                                window.location.href = response.url;
                            
                            }else{
                            
                            
                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


                $("#nav-profile-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP2',
                        data: params,
                        success: function (response) {
                            if(response.redirect){
                            
                                window.location.href = response.url;
                            
                            }else{
                            
                            
                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


            $("#nav-laboratory-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP3',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });


            $("#nav-analytical-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP4',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });

            $("#nav-sciproject-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP5',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });



            $("#nav-otherpersonel-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP6',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });




            $("#nav-gradass-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP7',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });





            $("#nav-fund-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP8',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });



            $("#nav-budget-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP9',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });




            $("#nav-notes-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP10',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });





            $("#nav-adminnotes-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP11',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });





        });



    </script>


}
