@model EblueWorkPlan.Models.ViewModels.ProjectFormView
@{
    ViewData["Title"] = "Page6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Sidebar2" />


<h1>Research Project for: @Model.ProjectNumber</h1>

<h3>Personnel Page</h3>
<br />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link active" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-0" style="color: #2267dd;"></i> </button>
        <button class="nav-link " id="nav-adminnotes-tab" data-bs-toggle="tab" data-bs-target="#nav-adminnotes" type="button" role="tab" aria-controls="nav-adminnotes" aria-selected="false" asp-action="Page11" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-1" style="color: #2267dd;"></i> </button>


    </div>
</nav>

<div class="tab-content" id="nav-tabContent">


    <div class="tab-pane fade show active" id="nav-otherpersonel" role="tabpanel" aria-labelledby="nav-otherpersonel-tab" tabindex="0">

        <div class=" row g-3">
            <form asp-action="Page6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">

                    <div class="card-header">Other Personnel </div>


                    <div class="card-body">

                        <div class="row">


                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input id="projectId" type="hidden" asp-for="ProjectId" />
                            <input id="Opid" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input id="perName" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PerTime" class="control-label"></label>
                                <input id="pertime" asp-for="PerTime" class="form-control" min="0.0000" step="0.0001" max="1" />
                                <span asp-validation-for="PerTime" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="LocationId" class="control-label"></label>
                                <select id="locationid" asp-for="LocationId" class="form-control" asp-items="ViewBag.locationsItems"></select>
                            </div>

                           
                                <br />

                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-primary" id="btnSubmit" />
                                <input id="btnSave" type="button" value="Save" class="btn btn-success btn-save" style="display:none;" />
                            </div>

                        </div>


                    </div>


                    <div class="card-footer">

                        <div class="btn btn-primary col align-content-center"><a asp-action="Page5" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Back</a></div>




                        <div class="btn btn-primary col align-content-end"><a asp-action="Page7" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Next</a></div>

                    </div>
                   
                </div>
            </form>
        </div>


        <br />

        @{
           
        
        }
        <table class="table table-bordered">
            <thead>
                <tr>
                    

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        
                        @Html.DisplayNameFor(model => model.PerTime)
                       
                        
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>

                    <th>
                        Actions
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.otherPersonels)
                {
                    var porcent =Convert.ToInt32( item.PerTime * 100);
                    

                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                     
                        

                        <td>
                            @*@Html.DisplayFor(modelItem => item.PerTime)*@ @porcent   %

                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.LocationName)
                        </td>
                       
                        
                        <td>
                            <div class="row">
                                <div class="col-4">
                                    <button data-id="@item.Opid|@item.Name|@item.PerTime|@item.PersonnelManAdded|@item.RoleManAdded|@item.LocationId|@item.ProjectId|@item.RosterId"
                                        class="btn  btn-success modify">
                                        Modify
                                    </button>

                                </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


</div>





    @section scripts{
        <script>

            $(function () {



                $("#dateEnded").datepicker();
                $("#dateStarted").datepicker();



                $(".modify").click(function () {
                    $("#btnSubmit").hide();
                    $("#btnSave").show();

                    let item = $(this).attr("data-id");

                    let campos = item.split("|", 9);

                  

                    $('#Opid').val(campos[0]);
                    $('#perName').val(campos[1]);
                    $('#pertime').val(campos[2]);
                    $('#locationid').val(campos[5]);
                    $('#rosterid').val(campos[7]);
                    $('#personnelman').val(campos[3]);
                    $('#roleman').val(campos[4])
                    $('#projectId').val(campos[6]);

                });



                $('#btnSave').click(function () {
                    $("#btnSave").hide();
                    $("#btnSubmit").show();

                    const params = {
                        Opid: $('#Opid').val(),
                        perName: $('#perName').val(),
                        pertime: $('#pertime').val(),
                        locationid: $('#locationid').val(),
                        rosterid: $('#rosterid').val(),
                        personnelman: $('#personnelman').val(),
                        roleman: $('#roleman').val(),
                        projectId: $('#projectId').val(),
                     
                    };


                    console.log(params);


                    $.ajax({
                        type: "POST",
                        url: '/Projects/PostPage6Data',
                        data: params,
                        success: function () {
                            alert('Entre');
                        },
                        dataType: 'json'
                    });
                    $('#formClr').find('input[type=text], input[type=email], textarea').val('');

                });


                $("#nav-home-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectPL',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


                $("#nav-profile-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP2',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


                $("#nav-laboratory-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP3',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


                $("#nav-analytical-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP4',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });

                $("#nav-sciproject-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP5',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });



                $("#nav-otherpersonel-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP6',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });




                $("#nav-gradass-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP7',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });





                $("#nav-fund-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP8',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });



                $("#nav-budget-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP9',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });




                $("#nav-notes-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP10',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });





                $("#nav-adminnotes-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP11',
                        data: params,
                        success: function (response) {
                            if (response.redirect) {

                                window.location.href = response.url;

                            } else {


                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


            });

        </script>

    }

   