@model EblueWorkPlan.Models.ViewModels.ProjectFormView
@{
    ViewData["Title"] = "Page3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Sidebar2" />

<h1>Research Project for: @Model.ProjectNumber</h1>
<h3>Fieldwork Page</h3>

<br />

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" asp-action="ProjectList" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link " id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="Page2" asp-controller="Projects"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link active" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false" asp-action="Page3" asp-controller="Projects"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false" asp-action="Page4" asp-controller="Projects"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false" asp-action="Page5" asp-controller="Projects"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false" asp-action="Page6" asp-controller="Projects"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false" asp-action="Page7" asp-controller="Projects"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false" asp-action="Page8" asp-controller="Projects"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false" ><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-0" style="color: #2267dd;"></i> </button>
        <button class="nav-link " id="nav-adminnotes-tab" data-bs-toggle="tab" data-bs-target="#nav-adminnotes" type="button" role="tab" aria-controls="nav-adminnotes" aria-selected="false" asp-action="Page11" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-1" style="color: #2267dd;"></i> </button>


    </div>
</nav>

<div id="showModal">
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-laboratory" role="tabpanel" aria-labelledby="nav-laboratory-tab" tabindex="0">
        <div class="row g-3">
            <form id="formClr" asp-action="Page3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input id="projectId" type="hidden" asp-for="ProjectId" />
                <input id="fieldWorkId" type="hidden" />


                <div class="card">

                    <div class="card-header">WorkPlan - FieldWork </div>


                    <div class="card-body">

                        <div class="row">


                            <div class="col-12">
                                <label asp-for="Wfieldwork" class="control-label"></label>
                                <textarea id="wfieldwork" asp-for="Wfieldwork" rows="3" class="form-control txt-wfieldwork"></textarea>
                                <span asp-validation-for="Wfieldwork" class="text-danger"></span>
                            </div>

                            <div class="col-6">
                                <label asp-for="Area" class="control-label"></label>
                                <input id="area" asp-for="Area" class="form-control txt-area" />
                                <span asp-validation-for="Area" class="text-danger"></span>
                            </div>

                            <div class="col-6">
                                <label asp-for="LocationId" class="control-label"></label>
                                <select id="locaionId" asp-for="LocationId" class="form-control" asp-items="ViewBag.locationsItems"></select>
                            </div>
                            <div class="col6">
                                <label asp-for="DateStarted" class="control-label"></label>
                                <input id="dateStarted" class="form-control dateStr" />
                                <span asp-validation-for="DateStarted" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateEnded" class="control-label"></label>
                                <input id="dateEnded" class="form-control   />
                                <span asp-validation-for="DateEnded" class="text-danger"></span>
                            </div>


                            <div class="col-12">
                                <label asp-for="FieldoptionId" class="control-label"></label>
                                <select id="fieldoption" asp-for="FieldoptionId" class="form-control" asp-items="ViewBag.fieldItems"></select>
                            </div>



                            <br />
                            <div class="form-group">
                                <input type="button" id="btnSubmit" value="Add" class="btn btn-primary" />
                                <input id="btnSave" type="button" value="Save" class="btn btn-success btn-save" style="display:none;" />
                            </div>


                        </div>

                    </div>

                    <div class="card-footer">

                        <div class="btn btn-primary col align-content-center"><a asp-action="Page2" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Back</a></div>




                        <div class="btn btn-primary col align-content-end"><a asp-action="Page4" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Next</a></div>

                    </div>

                </div>
            </form>

            @{

                

                //

            }
           

            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="myToast" class="toast">
                    <div class="toast-header bg-success">
                        <strong class="me-auto text-light">Update..</strong>
                        <small>Just Now...</small>
                        <button class="close" data-bs-dismiss="toast"> </button>


                    </div>
                    <div class="toast-body ">
                        Proceso completado satisfactoriamente
                    </div>
                </div>
            </div>


            <br />

            <table class="table table-bordered" id="fieldTable">
                <thead>
                    <h1 class="fieldId" style="display:none" class="field-id">@Model.FieldWorkId </h1>
                    <tr>



                        <th>
                            @Html.DisplayNameFor(model => model.Wfieldwork)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Area)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DateStarted)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateEnded)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FieldoptionId)
                        </th>

                        <th>
                            Location
                        </th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.fieldsWork)
                    {
                        <tr>
                           


                            <td class="Wfieldwork">
                                @Html.DisplayFor(modelItem => item.Wfieldwork)
                            </td>
                            <td class="area">
                                @Html.DisplayFor(modelItem => item.Area)
                            </td>


                            @*
                        Francis:
                        Por favor revisar esta parte:
                        Al llenar el formulario y presionar el boton Add , las fechas no se envian correctamente,
                        se envian con un resultado que no es el que se solicitó por el datepicker , dando como valor 1/1/0001,
                        el formato deseado es MM/dd/yyyy.



                        *@

                            <td class="dateStarted">
                                @Html.DisplayFor(modelItem => item.DateStarted)
                            </td>
                            <td class="dateEnded">
                                @Html.DisplayFor(modelItem => item.DateEnded)
                            </td>
                            <td class="inProgress">
                                @Html.DisplayFor(modelItem => item.Fieldoption.OptionName)
                            </td>

                            <td class="location">
                                @Html.DisplayFor(modelItem => item.Location.LocationName)
                            </td>

                            <td>
                                <div class="row">
                                    <div class="col-4">
                                        <button data-id="@item.FieldWorkId|@item.Wfieldwork|@item.Area|@item.DateStarted|@item.DateEnded|@item.FieldoptionId|@item.ProjectId|@item.LocationId"
                                            class="btn  btn-success modify">
                                            Modify
                                        </button>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>


</div>


@section scripts{
    <script>






        $(function () {

            $("#dateEnded").datepicker();
            $("#dateStarted").datepicker();


            $("#btnSubmit").click(function () {

                const params = {
                    fieldWorkId: $('#fieldWorkId').val(),
                    projectId: $('#projectId').val(),
                    wfieldwork: $('#wfieldwork').val(),
                    area: $('#area').val(),
                    dateStarted: $('#dateStarted').val(),
                    dateEnded: $('#dateEnded').val(),
                    
                    fieldoption: $('#fieldoption').val(),
                    locaionId: $('#locaionId').val()




                };


                console.log(params);
                

                $.ajax({
                    type: "POST",
                    url: '/Projects/Page3Post',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'
                });

                $('#formClr').find('input[type=text], input[type=email], textarea').val('');
            
            
            
            });


            $(".modify").click(function () {
                $("#btnSubmit").hide();
                $("#btnSave").show();
                let item = $(this).attr("data-id");

                let campos = item.split("|", 8);

                const dateStarted = new Date(campos[3]).toLocaleDateString('en-US');
                const dateEnded = new Date(campos[4]).toLocaleDateString('en-US');


                //let isProgress = campos[6] === 'True' ? true : false;
                //let toBeInitiated = campos[5] === 'True' ? true : false;

                $('#fieldWorkId').val(campos[0]);
                $('#wfieldwork').val(campos[1]);
                $('#area').val(campos[2]);
                $('#dateStarted').val(dateStarted);
                $('#dateEnded').val(dateEnded);
                $('#fieldoption').val(campos[5]);
                $('#toBeInitiated').prop('checked', toBeInitiated)
                $('#locaionId').val(campos[7]);

            });


            $('#btnSave').click(function () {
                $("#btnSave").hide();
                $("#btnSubmit").show();
                const params = {
                    fieldWorkId: $('#fieldWorkId').val(),
                    projectId: $('#projectId').val(),
                    wfieldwork: $('#wfieldwork').val(),
                    area: $('#area').val(),
                    dateStarted: $('#dateStarted').val(),
                    dateEnded: $('#dateEnded').val(),
                    
                    fieldoption: $('#fieldoption').val(),
                    locaionId: $('#locaionId').val()




                };


                console.log(params);
                $('#myToast').show();

                $.ajax({
                    type: "POST",
                    url: '/Projects/PostFieldWorkData',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }
                    },
                    dataType: 'json'
                });

                $('#formClr').find('input[type=text], input[type=email], textarea').val('');


            });

             $("#nav-home-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectPL',
                        data: params,
                        success: function (response) {
                            if(response.redirect){
                            
                                window.location.href = response.url;
                            
                            }else{
                            
                            
                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


                $("#nav-profile-tab").click(function () {

                    const params = {
                        ProjectId: $("#projectId").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Projects/RedirectP2',
                        data: params,
                        success: function (response) {
                            if(response.redirect){
                            
                                window.location.href = response.url;
                            
                            }else{
                            
                            
                                alert('No funciona..');
                            }

                        },
                        dataType: 'json'



                    });

                });


            $("#nav-laboratory-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP3',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });


            $("#nav-analytical-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP4',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });

            $("#nav-sciproject-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP5',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });



            $("#nav-otherpersonel-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP6',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });




            $("#nav-gradass-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP7',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });





            $("#nav-fund-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP8',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });



            $("#nav-budget-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP9',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });




            $("#nav-notes-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP10',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });





            $("#nav-adminnotes-tab").click(function () {

                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP11',
                    data: params,
                    success: function (response) {
                        if (response.redirect) {

                            window.location.href = response.url;

                        } else {


                            alert('No funciona..');
                        }

                    },
                    dataType: 'json'



                });

            });






        });


    </script>

}

 
