@model EblueWorkPlan.Models.Project
@{
    Layout = "~/Views/Shared/_RotativaLayout.cshtml";


}

<h1 class="text-center"> Project report section</h1>

<h1>Project-ID = @Model.ProjectId</h1>
<br />
<br />
<br />

<h3>Section One:</h3>

<div  style=" border:1px solid #666; padding:20px">
    
   
    Project-Number = @Model.ProjectNumber
</div>

<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.ProjectTitle</div>

<div style=" border:1px solid #666; padding:20px"> Project-Investigator = @Model.Roster.RosterName</div>
<div style=" border:1px solid #666; padding:20px"> Project-Number = @Model.ProjectNumber</div>
<div style=" border:1px solid #666; padding:20px"> Department = @Model.DepartmentId</div>
<div style=" border:1px solid #666; padding:20px"> Commodity = @Model.Comm.CommName</div>
<div style=" border:1px solid #666; padding:20px"> Program Area = @Model.ProgramAreaId</div>
<div style=" border:1px solid #666; padding:20px"> Substation = @Model.SubStation.SubStationName</div>
<div style=" border:1px solid #666; padding:20px"> Fiscal Year = @Model.FiscalYear.FiscalYearName</div>
<div style=" border:1px solid #666; padding:20px"> Contract Number = @Model.ContractNumber</div>
<div style=" border:1px solid #666; padding:20px"> Account Number = @Model.Orcid</div>
@*<div style=" border:1px solid #666; padding:20px">  Type of Funds = @Model.FundType.FundTypeName</div>
<div style=" border:1px solid #666; padding:20px"> Performing Organizations = @Model.Porganizations.PorganizationName</div>*@
<h3>Section Two:</h3>


<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.Objectives</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.ObjWorkPlan</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.PresentOutlook</div>




<h3>Section Three:</h3>


@*<div style=" border:1px solid #666; padding:20px"> WorkPlanned = @Model.FieldWorkS.Wfieldwork</div>
<div style=" border:1px solid #666; padding:20px"> Area(Acres) = @Model.FieldWorkS.Area</div>
<div style=" border:1px solid #666; padding:20px"> location = @Model.FieldWorkS.Location</div>
<div style=" border:1px solid #666; padding:20px"> Date Started = @Model.FieldWorkS.DateStarted</div>
<div style=" border:1px solid #666; padding:20px"> Date Ended = @Model.FieldWorkS.DateEnded</div>
<div style=" border:1px solid #666; padding:20px"> To be Initiated = @Model.FieldWorkS.ToBeInitiated</div>
<div style=" border:1px solid #666; padding:20px"> In Progress = @Model.FieldWorkS.InProgress</div>




<h3>Section Four:</h3>


<div style=" border:1px solid #666; padding:20px"> WorkPlanned = @Model.LaboratoryS.WorkPlanned</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.LaboratoryS.EstimatedTime</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.PresentOutlook</div>*@





<h3>Section Five:</h3>


<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.Objectives</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.ObjWorkPlan</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.PresentOutlook</div>






<h3>Section Six:</h3>


<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.Objectives</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.ObjWorkPlan</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.PresentOutlook</div>





<h3>Section Seven:</h3>


<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.Objectives</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.ObjWorkPlan</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.PresentOutlook</div>




<h3>Section Eight:</h3>


<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.Objectives</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.ObjWorkPlan</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.PresentOutlook</div>





<h3>Section Nine:</h3>


<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.Objectives</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.ObjWorkPlan</div>
<div style=" border:1px solid #666; padding:20px"> Project-Title = @Model.PresentOutlook</div>





<h3>Section Ten:</h3>


<div style=" border:1px solid #666; padding:20px"> Project-Impact = @Model.Facilities</div>
<div style=" border:1px solid #666; padding:20px"> Impact = @Model.Impact</div>
<div style=" border:1px solid #666; padding:20px"> Salaries = @Model.Salaries</div>
<div style=" border:1px solid #666; padding:20px"> Materials = @Model.Materials</div>
<div style=" border:1px solid #666; padding:20px"> Equipment = @Model.Equipment</div>
<div style=" border:1px solid #666; padding:20px"> Travel = @Model.Travel</div>
<div style=" border:1px solid #666; padding:20px"> Abroad = @Model.Abroad</div>
<div style=" border:1px solid #666; padding:20px"> Others = @Model.Others</div>
<div style=" border:1px solid #666; padding:20px"> Benefits = @Model.Benefits</div>
<div style=" border:1px solid #666; padding:20px"> Assistant = @Model.Assistant</div>
<div style=" border:1px solid #666; padding:20px"> Subcontracts = @Model.Subcontracts</div>
<div style=" border:1px solid #666; padding:20px"> IndirectCosts = @Model.IndirectCosts</div>