@model EblueWorkPlan.Models.Analytical

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Analytical</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnalysisRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnalysisRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumSamples)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumSamples)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProbableDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProbableDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AnalyticalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
