@model EblueWorkPlan.Models.Laboratory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Laboratory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Areq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Areq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoSamples)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoSamples)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SamplesDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SamplesDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LabId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
