@model EblueWorkPlan.Models.Role

@{
    ViewData["Title"] = "Details";
}

<partial name="_Sidebar2" />


<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsResearchDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsResearchDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExecutiveOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExecutiveOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdministrativeOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdministrativeOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExternalResources)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExternalResources)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RolesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
