@model EblueWorkPlan.Models.GradAss

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GradAss</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thesis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thesis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGraduated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGraduated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUndergraduated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUndergraduated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Gaid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
