@model EblueWorkPlan.Models.ProgramArea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProgramArea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramAreaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramAreaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramAreaOldId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramAreaOldId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RosterProgragmaticCoordinatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RosterProgragmaticCoordinatorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProgramAreaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
