@model IEnumerable<EblueWorkPlan.Models.FieldWork>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InProgress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToBeInitiated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InProgress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToBeInitiated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FieldWorkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FieldWorkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FieldWorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
