@model IEnumerable<EblueWorkPlan.Models.Substacion>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Sidebar2" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubStationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubStationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubstationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubstationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubstationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
